---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";
// const footerNav1 = [
//     {
//         itemText:"Marketing",
//         itemLink:"#"
//     },
//     {
//         itemText:"Analylitics",
//         itemLink:"#"
//     },
//     {
//         itemText:"Commerce",
//         itemLink:"#"
//     },
//     {
//         itemText:"Insights",
//         itemLink:"#"
//     }
// ]

const footerSupport = [
    {
        itemText:"Calzada del CBTIS 25B, Vista Hermosa Huitepec, 29267, San Cristóbal de Las Casas, Chiapas, México",
        itemLink:""
    },
    {
        itemText:"Teléfono: 967 131 50 51",
        itemLink:""
    },
    {
        itemText:"Email: info@teknologix.mx",
        itemLink:""
    },
]

// const footerCompany = [
//     {
//         itemText:"About",
//         itemLink:"/about"
//     },
//     {
//         itemText:"Blog",
//         itemLink:"#"
//     },
//     {
//         itemText:"Jobs",
//         itemLink:"#"
//     },
//     {
//         itemText:"Parteners",
//         itemLink:"#"
//     },
//     {
//         itemText:"Jobs",
//         itemLink:"#"
//     }
// ]
const footerLegal = [
    {
        itemText:"Aviso de privacidad",
        itemLink:"#"
    },
    {
        itemText:"Términos y condiciones",
        itemLink:"#"
    }
]
---
<div class="mt-16"></div>
<footer class="relative bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 dark:to-transparent pt-28 rounded-t-3xl">
    <div class="absolute right-0 top-0 h-full w-full flex justify-end">
        <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>

      <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
        <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>
    <Container className="pb-8 relative overflow-auto">
        
        <span class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 blur-2xl opacity-20 w-24 h-16 sm:w-48 sm:h-36 rounded-full rotate-12 skew-x-6 bg-primary"></span>
        <div class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative">
            <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
                <div class="h-full">
                    <a href="#" class="relative flex items-center gap-3">
                        <div class="relative size-7 overflow-auto flex">
                            <img src="/fav-icon.png" alt="Teknologix Logo">
                        </div>
                        <div class="inline-flex text-lg font-semibold text-heading-1">
                            Teknologix
                        </div>
                    </a>
                    <Paragraph className={"mt-8"}>
                        Tecnología que multiplica.
                    </Paragraph>
                </div>

                <!-- social links -->
                <div class="min-h-max flex items-center gap-4 text-heading-3 mt-8">
                    <a href="https://www.facebook.com/teknologixsancris" target="_blank" class="transition hover:text-heading-1 hover:scale-105">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                        </svg>
                        <span class="sr-only">social link</span>
                    </a>
                    <a href="https://www.instagram.com/teknologixsc" target="_blank" class="transition hover:text-heading-1 hover:scale-105">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
                        </svg>
                        <span class="sr-only">social link</span>
                    </a>
                </div>
            </div>

            <!-- <GroupFooterNav>
                <FooterNav title={"Compañía"} navItems={footerCompany}/>
                <FooterNav title={"Soluciones"} navItems={footerNav1}/>
            </GroupFooterNav> -->

            <GroupFooterNav>
                <FooterNav title={"Contacto"} navItems={footerSupport}/>
                <FooterNav title={"Recursos"} navItems={footerLegal}/>
            </GroupFooterNav>

        </div>
    </Container>
    <div class=" bg-gradient-to-tl from-box-bg py-2 relative">
        <Container>
            <div class="flex justify-between items-center gap-6 md:text-lg text-heading-3">
                <div>
                    &copy; <span id="year"></span> Teknologix 2025
                </div>
            </div>
        </Container>
    </div>
</footer>
